/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------- Framework --------------- */
/* line 10, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 15, ../scss/style.scss */
html {
  font-size: 62.5%;
}

/* line 19, ../scss/style.scss */
body {
  background: white;
  color: #222222;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2.0rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, ../scss/style.scss */
img {
  max-width: 100%;
}

/* line 37, ../scss/style.scss */
.row {
  margin-left: 20px;
  margin-right: 20px;
}

/* --------------- Typography --------------- */
/* line 47, ../scss/style.scss */
h1 {
  text-align: center;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 200;
  margin-bottom: 25px;
}

/* line 57, ../scss/style.scss */
p {
  margin-bottom: 10px;
}

/* line 61, ../scss/style.scss */
a {
  color: #8d8d8d;
}
/* line 63, ../scss/style.scss */
a:hover {
  text-decoration: none;
}

/* --------------- Header --------------- */
/* line 70, ../scss/style.scss */
header {
  margin-top: 30px;
  margin-bottom: 30px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 79, ../scss/style.scss */
.logo {
  padding-top: 25px;
}

/* --------------- Footer --------------- */
/* line 86, ../scss/style.scss */
footer {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 95, ../scss/style.scss */
footer a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #8d8d8d;
}
/* line 98, ../scss/style.scss */
footer a:hover {
  color: #222222;
  text-decoration: none;
}

/* --------------- Form --------------- */
/* line 108, ../scss/style.scss */
.main-content {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  height: auto;
  position: relative;
}

/* line 116, ../scss/style.scss */
.form-wrapper {
  border: 1px solid #222222;
  padding: 40px 20px;
  margin-bottom: 50px;
}

/* line 3, ../scss/partials/_input.scss */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

/* line 11, ../scss/partials/_input.scss */
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #222222;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

/* line 24, ../scss/partials/_input.scss */
.input__field:focus {
  outline: none;
}

/* line 28, ../scss/partials/_input.scss */
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #222222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 42, ../scss/partials/_input.scss */
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* line 49, ../scss/partials/_input.scss */
.input__field--ruri {
  width: 100%;
  background: transparent;
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: #222222;
}

/* line 57, ../scss/partials/_input.scss */
.input__label--ruri {
  width: 100%;
  position: absolute;
  text-align: left;
  font-size: 1em;
  padding: 10px 0 5px;
  pointer-events: none;
}

/* line 66, ../scss/partials/_input.scss */
.input__label--ruri::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #a7a7a7;
  left: 0;
  top: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

/* line 80, ../scss/partials/_input.scss */
.input__label-content--ruri {
  padding: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;
}

/* line 89, ../scss/partials/_input.scss */
.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
  background: #a7a7a7;
}

/* line 94, ../scss/partials/_input.scss */
.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
  color: #a7a7a7;
  font-weight: 700;
  -webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
}

/* line 124, ../scss/style.scss */
label.error {
  position: absolute;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #F32F0C;
  margin-top: -10px;
}

/* line 135, ../scss/style.scss */
.disclaimer-text {
  padding: 0 0 20px 0;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 14px;
  line-height: 1.4rem;
}

/* line 147, ../scss/style.scss */
.select-wrapper {
  margin: 0 0 40px;
  position: relative;
}
/* line 150, ../scss/style.scss */
.select-wrapper:after {
  content: '\f107';
  font-family: 'fontAwesome';
  position: absolute;
  right: 15px;
  top: 13px;
}
/* line 157, ../scss/style.scss */
.select-wrapper label.error {
  position: static;
}

/* line 162, ../scss/style.scss */
select {
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a7a7a7;
  background-color: transparent;
  color: #222222;
  text-overflow: ellipsis;
  padding-right: 45px;
}

/* line 182, ../scss/style.scss */
button#submit {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
  border: 1px solid #a7a7a7;
  padding: 20px 25px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 190, ../scss/style.scss */
button#submit:hover {
  border-color: #222222;
}

/* line 195, ../scss/style.scss */
.jquery-response {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}

/* --------------- Below Form --------------- */
/* line 209, ../scss/style.scss */
.lamb-logos {
  text-align: center;
}
/* line 211, ../scss/style.scss */
.lamb-logos img {
  margin: 0 10px;
}

/* line 218, ../scss/style.scss */
.social {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 75px;
}

/* line 226, ../scss/style.scss */
.social-fb, .social-tw, .social-ig {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 35px;
  height: 35px;
  background: #222222;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  margin-left: 10px;
  color: white;
}
/* line 236, ../scss/style.scss */
.social-fb:hover, .social-tw:hover, .social-ig:hover {
  background: #3b5998;
  color: white;
}

/* line 244, ../scss/style.scss */
.social-tw:hover {
  background: #55acee;
}

/* line 251, ../scss/style.scss */
.social-ig:hover {
  background: #3f729b;
}

/* --------------- Responsive --------------- */
@media screen and (max-width: 991px) {
  /* line 271, ../scss/style.scss */
  header {
    text-align: center;
  }

  /* line 275, ../scss/style.scss */
  button#submit {
    margin: 20px auto 0;
    display: block;
  }

  /* line 280, ../scss/style.scss */
  .recaptcha-wrapper {
    text-align: center;
  }

  /* line 283, ../scss/style.scss */
  .g-recaptcha {
    display: inline-block;
  }

  /* line 287, ../scss/style.scss */
  footer {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 295, ../scss/style.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 302, ../scss/style.scss */
  .overlay-bg {
    background: rgba(34, 34, 34, 0.7);
  }

  /* line 306, ../scss/style.scss */
  .form-wrapper {
    border: none;
    background: transparent;
    text-align: center;
  }
}
