// Registration Page Styles

@import 'partials/mixins'; // Mixins & Variables
@import 'partials/reset'; // Reset CSS

/* --------------- Framework --------------- */

// Background

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-size:62.5%;
}

body {
	background: $white;
	color: $black;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font: {
		size: 18px;
		size: 1.8rem;
	}
	line-height: 20px;
	line-height: 2.0rem;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}

.row {
	margin: {
		left: 20px;
		right: 20px;
	}
}


/* --------------- Typography --------------- */

h1 {
	text-align: center;
	font: {
		size: 36px;
		size: 3.6rem;
		weight: 200;
	}
	margin-bottom: 25px;
}

p {
	margin-bottom: 10px;
}

a {
	color: $grey-dark;
	&:hover {
		text-decoration: none;
	}
}

/* --------------- Header --------------- */

header {
	margin-top: 30px;
	margin-bottom: 10px;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.logo {
	padding-top: 25px;
}


/* --------------- Footer --------------- */

footer {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
	font: {
		size: 13px;
		size: 1.3rem;
	}
	a {
		@include transition(0.3s);
		color: $grey-dark;
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
}


/* --------------- Form --------------- */

.main-content {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	height: auto;
	position: relative;
}

.form-wrapper {
	border: 1px solid $black;
	padding: 40px 20px;
	margin-bottom: 50px;
}

@import 'partials/input';

label.error {
    position: absolute;
	 font: {
		size: 12px;
		size: 1.2rem;
		weight: 700;
	 }
    color: #F32F0C;
    margin-top: -10px;
}

.disclaimer-text {
	padding: 0 0 20px 0;
	text-align: center;
	font: {
		size: 11px;
		size: 1.1rem;
		style: italic;
	}
	line-height: 14px;
	line-height: 1.4rem;
}

.select-wrapper {
	margin: 0 0 40px;
	position: relative;
	&:after {
		content: '\f107';
		font-family: 'fontAwesome';
		position: absolute;
		right: 15px;
		top: 13px;
	}
	label.error {
		position: static;
	}
}

select {
	width: 100%;
	height: 40px;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
	border-radius: 0;
	border: {
		top: none;
		left: none;
		right: none;
		bottom: 1px solid $grey;
	}
	background-color: transparent;
	color: $black;
	text-overflow: ellipsis;
	padding-right: 45px;
	
}

button#submit {
	@include transition(0.3s);
    background-color: $white;
    border: 1px solid $grey;
    padding: 20px 25px;
    font-weight: 700;
    text-transform: uppercase;
	 cursor: pointer;
	 &:hover {
		border-color: $black;
	 }
}

.jquery-response {
    text-align: center;
    padding-top: 20px;
	 font: {
		size: 14px;
		size: 1.4rem;
		style: italic;
	 }
}


/* --------------- Below Form --------------- */


.lamb-logos {
	text-align: center;
	img {
		margin: 0 10px;
	}
}


// Social Buttons
.social {
	margin: {
		top: 20px;
		right: 20px;
		bottom: 75px;
	}
}

.social-fb {
	@include transition(0.3s);
	width: 35px;
	height: 35px;
	background: $black;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	margin-left: 10px;
	color: $white;
	&:hover {
		background: #3b5998;
		color: $white;
	}
}

.social-tw {
	@extend .social-fb;
	&:hover {
		background: #55acee;
	}
}

.social-ig {
	@extend .social-fb;
	&:hover {
		background: #3f729b;
	}
}


/* --------------- Responsive --------------- */


@media screen and (min-width: 992px) and (min-height: 800px) {
	




}

@media screen and (max-width: 991px) {
	
	
	header {
		text-align: center;
	}

	button#submit {
		margin: 20px auto 0;
		display: block;
	}
	
	.recaptcha-wrapper{
		text-align: center;
	}
	.g-recaptcha {
		display: inline-block;
	}
	
	footer {
		margin-top: 40px;
	}
	
}

@media screen and (max-width: 768px) {
	
	.row {
		margin: {
			left: 0;
			right: 0;
		}
	}
	
	.overlay-bg{
		background: rgba($black, 0.7);
	}
	
	.form-wrapper {
		border: none;
		background: transparent;
		text-align: center;
	}
}
