// Mixins

$white: #fff;
$brown-light: #8C6239;
$brown-dark: #603813;
$grey: #a7a7a7;
$grey-dark: darken($grey,10%);
$black: #222;


@mixin transition($speed) {
	-webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-ms-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}